<h2>Task: <%= @task.title %></h2>
<h4><%= @task.details %></h4>
<p><em><%= @task.completed ? "This task is completed" : "This task is not completed yet" %></em></p>
<p><%= link_to 'Edit task', edit_path %></p>
<hr>
<%= link_to "Delete",
  task_path(@task),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
<hr>
<p><%= link_to 'Back to list', tasks_path %></p>
